@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ephesis', cursive;
}
body{
    background-color: #0C2D48;
    color: aliceblue;
    line-height: 1.6;
}
h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 60px 0;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
#search-box{
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 18px;
    color: #0C2D48;
}
#search-button{
    padding: 10px 20px;
    background-color: #2E8BC0;
    color: #0C2D48;
    font-weight: bold;
    border: none;
    font-size: 18px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}
.explored-images{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.explored-image{
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: 0.5s;
}
.explored-image a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.explored-image:hover{
    box-shadow: 0 0 6px rgba(59, 199, 255, 0.764);
}
.explored-image a{
    font-size: 17px;
    text-decoration: none;
    color: aliceblue;
    display: block;
}
#showMoreBtn{
    background-color: #2E8BC0;
    font-size: 18px;
    font-weight: bold;
    border: none;
    color: #0C2D48;
    padding: 10px 20px;
    text-align: center;
    /* display: block; */
    cursor: pointer;
    border-radius: 5px;
    margin: 30px auto;
    display: none;
}
/* for tab screen */
@media screen  and (max-width: 780px){
    .explored-images{
        padding: 20px;
    }
    .explored-image{
        width: 45%;
    }
}
/* for mobile phone screen */
@media screen  and (max-width: 480px){
    .explored-image{
        width: 100%;
    }
    #search-button{
        margin-left: 3px;
    }
}